* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #262626 !important;
}

header {
  margin-top: 20px;
  text-align: center;
  color: white;
}

.main {
  margin-top: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main .listBook {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main .listBook button {
  margin: 5px;
}

.main .form-book {
  width: 500px;
}

.main span {
  margin-top: 20px;
}

.main table {
  color: white;
}

@media screen and (max-width: 500px) {
  .main .form-book {
    width: 80%;
  }
}

@media screen and (min-width: 1000px) {
  .main table tr td {
    font-size: 18px;
  }
}
